.footer {
  background-color: #363434;
  /* padding: 20px 0; */
  text-align: center;
  color: white;
  font-family: Inter;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: static;
  right: 0;
  left: 0;
  bottom: 0;
}

.logo {
  margin-bottom: 100px;
}
.logo h2 {
  font-size: 18px;
  word-spacing: 2px;
}
.categories  li,
.socialLinks  li {
  margin-right: 20px;
  font-size: 12px;
  list-style: none;
  margin-bottom: 10px;
}

.categories > ul,
.socialLinks > ul {
  display: flex;
  font-size: 12px;
  flex-direction: column;
  align-items: flex-start;
}

h4 {
  font-size: 12px;
  margin-bottom: 20px;
}

.socialLinks {
  margin-top: 20px;
  margin-bottom: 20px;
}
.socialLinks .icons{
  font-size: 12px;
}
